exportPattern("^[[:alpha:]]+")

import("survival")
import("randomForestSRC")
import("abind")

import("parallel")
importFrom("stats", as.formula, p.adjust, quantile, runif, sd)

export("rsf.main", 
       "rsf.int", 
       "cph.main", 
       "cph.int")